[init]
	defaultBranch = master
[color]
	ui = true
[user]
	name = Tedde Lundgren
	email = mail@tedeh.net
	signingKey = 1AF854825FFA226F19549246A30FF392F1B4F8B5
[core]
	editor = vim
	excludesfile = ~/.gitignore
  filemode = false
	ignore = dirty
[push]
	default = current
	recurseSubmodules = on-demand
[submodule]
	recurse = true
[commit]
	gpgsign = yes
